h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    display: flex;
    margin: 0 auto;
}

ion-button{
    display: flex;
    margin: 0 auto;
    margin: 20px;

}